<!DOCTYPE html>

<html>
    <head>
        <title>Welcome - {{ username }}</title>
    </head>
    <body>
        <!-- username and method are received as arguments-->
        <h4>Hello there {{ username }}</h4>
        <br>
        <p>Good luck out there!</p>
        <hr>
        <!-- Logout Button -->
        <form action="/logout" method="POST">
            <input type="submit" value="LOGOUT"/>
        </form>
        <!-- Returns to ./ -->
        <form action="/logout" method="POST">
            <input type="submit" value="Return to homepage"/>
        </form>
    </body>
</html>